<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Project Sweat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C80EEDC1C9C31550098302C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C80EEF01C9C31550098302C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C80EEFB1C9C31550098302C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
